.proj-sec{
    .tasks {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
    .tasks-list {
        .task-item {
            margin: 1rem 0;
            padding: 1rem 1rem;
            background-color: #0381ff3f;
            border-radius: 1rem;
        }
    }
}